body {
  background-color: lightpink;
}

#comment-box {
  border-style: none;
  background-color: transparent;
  border-bottom: 1px solid;
}

#home-container {
  display: flex;
}

#home-container #feed-posts {
  width: 70%;
  padding: 10px;
}

#home-container #user-friends {
  width: 30%;
  padding: 10px;
  border-left: 1px solid red;
}
